#sounds{
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: center;
    column-gap: 0;
    text-align: left;
    padding: 8px;
    border: 5px groove yellow;
}
#displaysound{
    display: flex;
    justify-content: center;
}
h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: yellow;
    font-size: larger;
    font-weight: 100;
    border-left: 8px solid coral;
    padding: 0.1rem;
    margin-left: 8px;
}
p{
    border-top: 1px solid coral;
    border-bottom: 1px solid coral;
    padding: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}
#specs,
#topic{
    background: linear-gradient(to right, hsl(60, 97%, 24%), transparent);
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    border: none;
    min-height: 16vh;
    border-radius: 0;
    color: white;
    box-shadow: none;
}
#specs{
    background: linear-gradient(to left, hsl(60, 97%, 24%), transparent);
}
#enginePic{
    max-height: 13vh;
    border-radius: 50px;
    box-shadow: 0px 4px 4px black;
    transition: all 1000ms ease-in-out;
    color: cadetblue;
}
#pic{
    max-inline-size: 90vh;
    overflow: hidden;
}
button{
    transition: all 1000ms ease;
    max-height: fit-content;
    background: transparent;
    border: none;
    perspective: 600px;
    padding: 1rem;
    margin-bottom: 10px;
}
button:active {
    border-bottom: 24px solid red;
   #enginePic{
    transform-origin: top;
    transform: rotateX(-30deg);
    box-shadow:  0px 35px 25px black;
} 
}