/* ========================= */
/* GLOBAL */
/* ========================= */

body{
    background-color:black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: 0.3% yellow solid;
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: column;
}

section{
    background-color: rgb(62, 46, 0);
    padding: 15px;
}


footer{
    text-align: center;
    background: linear-gradient(to right, black,yellow);
    padding: 1rem;
    max-width: 100%;
}

hr{
    background-color: red;
    height: 5px;
    width: 98%;
}

/* ========================= */
/* TEXT */
/* ========================= */

h1{
    color: yellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    font-size: 200%;
}

h2{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: coral;
    font-size: 40px;
    box-shadow: 3px 10px 15px black;
    border-radius: 8px;
}

p{
    font-family: Arial, sans-serif;
    text-align: left;
    padding: 1%;
    border: 1px outset yellow;
    border-radius: 8px;
    background-color: hsl(56, 69%, 54%);
    color: rgb(9, 9, 0);
    box-shadow: 3px 6px 10px black;
    text-shadow: 0px 1px 1px black;
}

/* ========================= */
/* LINKS */
/* ========================= */

a{
    border: solid;
    border-color: blue;
    border-radius: 25px;
    color: yellow;
    background-color: black;
    font-size: larger;
    padding: 3px;
    text-decoration: none;
    text-align: center;
}

a:hover{
    scale: 105%;
    background-color: yellow;
    color: black;
    transition: all 150ms ease-in;
}

a:active{
    scale: 105%;
    background-color: black;
    color: yellow;
    transition: all 150ms ease-in;
}

/* ========================= */
/* NAVIGATION */
/* ========================= */

nav{
    width: 100%;
    display: flex;
    background: linear-gradient(to right, black,yellow);
}

#nav{
    background-image: url('../images/ford/modelT.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    border: 3px outset yellow;
    border-radius: 10px;
    box-shadow: 3px 3p 10px black;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

#navigate li{
    margin: 18px;
    text-align: left;
}
#navigate{
    overflow: hidden;
}
ul{
    list-style: none;
    margin-left: -30px;
}

li{
    text-align: center;
}

/* ========================= */
/* MENU */
/* ========================= */

.off-s-menu{
    height: 100%;
    padding: 3px;

    position: fixed;
    top: 0;
    right: -450px;

    display: flex;
    flex-direction: column;
    justify-content: left;

    font-size: larger;

    transition: 300ms ease;

    background: linear-gradient(to right, black,yellow);

    box-shadow: 0px -6px 8px hsl(0, 0, 0, 2px);

    justify-content: center;
}

.off-s-menu.active{
    right: 0px;
}

.dropdown{
    height: 50px;
    width: 50px;

    margin-left: auto;
    margin-right: 50px;
    margin-top: 10px;

    position: relative;

    cursor: pointer;
}

.dropdown span{
    height: 5px;
    width: 100%;
    background: black;
    border-radius: 25px;

    position: absolute;

    top: 50%;
    left: 50%;

    transition: 300ms ease;
}

.dropdown span:nth-child(1){
    top: 30%;
}

.dropdown span:nth-child(3){
    top: 70%;
}

.dropdown.active span:nth-child(1){
    top: 50%;
    transform: translate(-35%, -10%) rotate(45deg);
    height: 9px;
}

.dropdown.active span:nth-child(2){
    opacity: 0;
}

.dropdown.active span:nth-child(3){
    top: 50%;
    transform: translate(-35%, 10%) rotate(-45deg);
    height: 9px;
}

/* ========================= */
/* HERO */
/* ========================= */

#drive{
    margin-left: 25px;
    border: none;

    color: white;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    font-weight: lighter;

    font-size: xx-large;
}

#driveHead{
    margin-right: auto;
    border: none;
    color: white;
    font-size: 15vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    overflow: hidden;
    font-weight: lighter;
}

.fa-car{
    color: rgb(241, 152, 0);

    font-size: 1111%;

    float: right;

    max-inline-size: 250px;

    text-shadow: 3px 8px 8px black;
}

/* ========================= */
/* IMAGES */
/* ========================= */
img{
    max-height: 16vh;
}
.slide{
    border-radius: 9px;
    background-color: transparent;
    max-height: 40vh;
}

.slider{
    position: relative;
    margin: auto;
    overflow: hidden;
}

.slider img{
    display: none;
    cursor: zoom-in;
    border: 6px inset yellow;

    transition: 50ms ease;

    margin-left: auto;
    margin-right: auto;


    animation: fade 1.5s;

    border-radius: 5px;
}

.slide.displaySlides{
    display: block;
}

.slides:active{
    scale: 150%;
    transition: all 0.3s ease-in-out;
}

#spin{
    height: 35px;
    border-radius: 19px;
    animation: smoke 50s ease-in-out infinite;
    animation-delay: 10s;
}

#spinHead{
    border-radius: 19px;
    border: none;
    position: relative;
    top: 18px;
}

.cwheel{
    max-height: 35px;
    border-radius: 19px;
    animation: carHub 50s ease-in-out infinite;
    animation-delay: 10s;
    border: none;
}

.cwheelHead{
    border-radius: 50%;
    max-height: 20vh;
}

/* ========================= */
/* BUTTONS */
/* ========================= */

#topBtn{
    border: solid;
    border-color: blue;
    border-radius: 25px;
    color: yellow;
    background-color: black;
    font-size: larger;
    padding: 3px;
    text-decoration: none;
    text-align: center;

    position: fixed;
    bottom: 30px;
    right: 30px;

    cursor: pointer;

    opacity: 0;
    pointer-events: none;

    transition: 0.3s ease;

    z-index: 999;
}

#topBtn.show{
    opacity: 0.4;
    pointer-events: auto;
}

#topBtn.show:hover{
    opacity: 1;
    pointer-events: auto;
}

/* ========================= */
/* LAYOUT */
/* ========================= */


#li{
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    font-size: x-large;

    animation: explore 4345ms ease infinite;

    color:rgb(255, 255, 255);

    background: linear-gradient(to left, black, yellow);

    border-radius: 25px;

    width: 89px;

    justify-content: center;

    padding: 8px;
}

/* ========================= */
/* ANIMATIONS */
/* ========================= */

@keyframes fade{
    from{opacity: .5;}
    to{opacity: 1;}
}

@keyframes smoke{
    4%{box-shadow: -9px -4px 9px rgb(199, 143, 143);}
    5%{box-shadow: -15px -4px 9px rgb(199, 143, 143), -5px -4px 9px rgb(221, 79, 79);}
    6%{box-shadow: -15px -4px 9px rgb(199, 143, 143), -5px -4px 9px rgb(221, 79, 79),
         -19px -2px 9px rgb(101, 92, 92);}
    7%{box-shadow: -15px -4px 9px rgb(199, 143, 143), -5px -4px 9px rgb(221, 79, 79),
        -19px -2px 9px rgb(138, 111, 111), -32px -4px 13px rgb(219, 181, 181);}
    8%{box-shadow: -15px -4px 9px rgb(199, 166, 143), -5px -4px 9px rgb(221, 79, 79),
        -20px -2px 9px rgb(154, 146, 105), -32px -4px 13px rgb(219, 181, 181), -22px -10px 9px rgb(181, 162, 162);}
    19%{box-shadow: -15px -4px 9px rgb(197, 189, 85), -5px -4px 9px rgb(207, 221, 79),
        -23px -2px 9px rgb(162, 167, 97), -32px -4px 13px rgb(219, 201, 181), -22px -10px 9px rgb(184, 152, 117);}
        
    50%{box-shadow: -15px -4px 9px rgb(199, 143, 143), -5px -4px 9px rgb(221, 79, 79),
        -19px -2px 9px rgb(101, 92, 92), -32px -4px 13px rgb(219, 181, 181), -22px -10px 9px rgb(181, 162, 162);}
}

@keyframes carHub{
    10%{transform: rotateZ(144000deg);}
    30%{transform: rotateZ(288000deg);}
    100%{transform: rotateZ(288000deg);}
}

@keyframes explore{
    25%{color: black;}
    50%{color: yellow; scale: 99%; background: black;}
    75%{color: rgb(131, 0, 0); background: yellow;}
}