#grid{
    display: flex;
    padding: 1rem;
    justify-content: center;
}
#likedPic{
    height: 250px;
    border: 5px yellow outset;
    box-shadow: 2px 2px 8px black;
}
#clear{
    margin-right: 8px;
    border: solid;
    border-color: blue;
    border-radius: 25px;
    color: yellow;
    background-color: blue;
    font-size: larger;
    padding: 3px;
}
#clear:hover {
    scale: 105%;
    background-color: yellow;
    color: black;
    transition: 150ms ease;
}
#clear:active {
    scale: 105%;
    background-color: black;
    color: yellow;
    transition: 150ms ease;
}
#liked{
 display: flex;
 flex-direction: column;
 align-items: center;
}